@(recipeForm: Form[com.toprecipe.beans.RecipeBean])

@import helper._
@import helper.twitterBootstrap._

@main("Create Recipe") {
      
    <h2 class="form-signin-heading">Add new recipe</h2>
    
   
	@form(com.toprecipe.controllers.routes.Recipes.selectMedia()) {        
		@inputText(recipeForm("Title"), 'class -> "form-control", 'placeholder -> "Title")
        @inputText(recipeForm("SourceUrl"), 'class -> "form-control", 'placeholder -> "Source url")
        @inputText(recipeForm("categoryTitle"), 'class -> "form-control", 'placeholder -> "Category Title")
        <button class="btn btn-lg btn-primary" type="submit">Create</button>
    }  
    
    @form(com.toprecipe.controllers.routes.Recipes.recipes()) {
       <button class="btn btn-lg btn-primary" type="submit">View recipes</button>
    }
}


