@(recipeArrays: List[List[com.toprecipe.models.Recipe]])

@import helper._
@import com.toprecipe.models.Recipe

@scripts = {
    <script src="@routes.Assets.at("javascripts/recipes/index.js")" type="text/javascript"></script>
}

@main("Recipe list", scripts){
  	<div class="row">
  		@for(recipeList <- recipeArrays) {
  			<div class="col-md-3">
        		@for(recipe <- recipeList) {
	            	<div class="thumbnail">
	            	@media(recipe.getId(),recipe.getImage(), recipe.getYouTubeVideo(), recipe.getFlashVideo(), ""){
		                <h3>@recipe.getTitle()</h3>
                	
		             	</div>
					  	<div>
						  @form(com.toprecipe.controllers.routes.Recipes.deleteRecipe(recipe.getId()), 'id -> String.format ("deleteForm-%d", recipe.getId())){
						  }
				  		</div>
			  		}
		        }
		  	</div>
		}
	</div>
}