@(recipeId: Long, recipeForm: Form[com.toprecipe.models.Recipe])

@import helper._
@import helper.twitterBootstrap._
@import com.toprecipe.models.Recipe

@main("Update Recipe") {
      
    <h2>Update Recipe</h2>
    
   
      @form(com.toprecipe.controllers.routes.Recipes.updateRecipe(recipeId)) {
        @inputText(recipeForm("title"))
        @inputText(recipeForm("image"))
        @inputText(recipeForm("videoUrl"))
        @inputText(recipeForm("sourceUrl"))
        <input type="submit" value="Update">
    }  
    
    @form(com.toprecipe.controllers.routes.Recipes.recipes()) {
        
       <input type="submit" value="View Recipes">
    }
}
