
body {
	min-height: 2000px;
	font-size: 15px;
    padding-bottom: 100px;
    padding-top: 0px;
    background-color: #E0E8F0;
}

.top-header {
	background: none repeat scroll 0 0 #FF8330;
	float: left;
	height: 34px;
	width: 100%;
}

.main-header {
	height: 158px;
	float: left;
	position: relative;
	width: 100%;
	background-color: #E0E8F0;
}

.main-header > .container {
	height: 800px;
	padding-top: 3px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF8F0;
}

.row {
	background-color: #FFF8F0;
}

.main-navbar > .container {
	height: 40px;
	padding-top: 5px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	z-index: 1;
}
.container {
	height: 34px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.container > .top-navbar {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.main-header > .main-navbar {
	height:40px;
	background: none repeat scroll 0 0 #59578D;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 10px;
}

.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  a {
  color: #FFFFFF;
  text-decoration: none;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none;
    text-color: #474480;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: -2px;
  margin-right: 10px;
  margin-bottom: 0px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .brand-collapse {
  position: relative;
  float: left;
  padding: 9px 10px;
  margin-top: -2px;
  margin-right: 10px;
  margin-bottom: 0px;
  display: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .brand-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 4px;
    overflow: visible !important;
  }
  .container-collapse.in {
    overflow-y: visible;
  }
  
}

.navbar-collapse.in {
	background-color: #59578D;
}

.navbar-nav > li > a{
	color: #FFFFFF;
  	text-decoration: none;
	background-color: #59578D;
}


.main-navbar > .container > .navbar-header > .navbar-toggle > .icon-bar {
	background-color: #ffffff;
}

.nav .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.nav a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #2a6496;
}

.media {
	padding-top: 100;
}

@media (min-width: 104px) {
  .navbar-navtop> li {
    float: right;
    margin: 0;
  }
  .navbar-navtop > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,underli
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.btn-primary {
  color: #ffffff;
  background-color: #59578D;
  border-color: #474480;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #474480;
  border-color: #285e8e;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #474480;
}

@media (min-width: 1200px) {
  .container-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .container-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 4px;
    overflow: visible !important;
  }
  .container-collapse.in {
    overflow-y: visible;
  }
  
}

a:hover,
a:focus {
  color: #ffffff;
  text-decoration: none;
}

.dropdown-menu > li > a {
  color: #ffffff;
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: #59578D;
}

.navbar-nav .open .dropdown-menu {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
  }
  
.col-md-3 > .thumbnail {
	margin-bottom: 10px;
}
  
#recipe-info-modal .modal-body {
	padding-bottom:0px;
}

.thumbnail.recipe-display {
    margin-bottom: 10px;
}