@(title: String, scripts:Html=Html(""))(content: Html)
@import helper.twitterBootstrap._

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/styles.css")">
    </head>
    <body>
        <div class = "navbar navbar-default navbar-fixed-top">
        	<div class="container">
        	<a class="navbar-brand" href="#">toprecipe</a>
         		<div class"navbar-collapse collapse">
          			<ul class="nav navbar-nav">
          				<li><a href="#">Appetizers</a></li>
          				<li><a href="#">Soups</a></li>
          				<li><a href="#">Salad/Raita</a></li>
            			<li><a href="#">Breads</a></li>
            			<li><a href="#">Curries</a></li>
            			<li><a href="#">Rice</a></li>
            			<li><a href="#">Vegetables</a></li>
            			<li><a href="#">Daal</a></li>
            			<li><a href="#">Snacks</a></li>
            			<li><a href="#">Festive</a></li>
            			<li><a href="#">Dessert</a></li>
          			</ul> 
          			<ul class="nav navbar-nav navbar-right">
            			<li><a href="#">Admin</a></li>
          			</ul>
        		</div>
      		</div>       
    	</div>
    	<div class="container">
    		@content
    	</div>
    		
        <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>    		
    	@scripts
    	
    </body>
</html>
