@(title: String, scripts:Html=Html(""))(content: Html)
@import helper.twitterBootstrap._

@categoryLink(category:String, title:String) = {
	<a href="@com.toprecipe.controllers.routes.CategoryBrowser.foodItems(category)">@title</a>
}

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/styles.css")">
    </head>
    <body>
        <div class = "navbar navbar-default navbar-fixed-top">
        	<div class="container">
        	<a class="navbar-brand" href="@com.toprecipe.controllers.routes.Application.index()">toprecipe</a>
         		<div class"navbar-collapse collapse">
          			<ul class="nav navbar-nav">
          				<li>@categoryLink("Appetizer","Appetizer")</li>
          				<li>@categoryLink("Soup","Soup")</li>
          				<li>@categoryLink("Salad/Raita","Salad/Raita")</li>
            			<li class="dropdown">
            			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Bread <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@categoryLink("Bread->Naan","Naan")</li>
                        	<li>@categoryLink("Bread->Roti","Roti")</li>
                        	<li>@categoryLink("Bread->Paratha","Paratha")</li>
                        	<li>@categoryLink("Bread->Others","Others")</li></ul>
            			<li>@categoryLink("Curry","Curry")</li>
            			<li>@categoryLink("Rice","Rice")</li>
            			<li>@categoryLink("Veggi","Veggi")</li>
            			<li>@categoryLink("Daal","Daal")</li>
            			<li>@categoryLink("Snack","Snack")</li>
            			<li>@categoryLink("Festive","Festive")</li>
            			<li>@categoryLink("Dessert","Dessert")</li>
          			</ul> 
          			<ul class="nav navbar-nav navbar-right">
            			<li><a href="#">Admin</a></li>
          			</ul>
        		</div>
      		</div>       
    	</div>
    	<div class="container">
    		@content
    	</div>
    		
        <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>    		
    	@scripts
    	
    </body>
</html>
