@(id: Long, image: String, youTubeVideo: String, flashVideo:String, className:String)(body:Html=Html(""))

@import org.springframework.util.StringUtils;

@hasImage=@{!StringUtils.isEmpty (image)}

@isYouTubeRecipe=@{!StringUtils.isEmpty (youTubeVideo)}
@isFlashRecipe=@{!StringUtils.isEmpty (flashVideo)}
@isVideoRecipe=@{isYouTubeRecipe|isFlashRecipe}

@if(hasImage){
	<a id="recipe-image-container" href="#" itemId="@id">
		<img class="img-responsive @className" src="@routes.Assets.at(image)">
	</a>
}else{
	<div class="@className" >
		<i class="fa fa-picture-o fa-5x"></i>
	</div>
}

<div class="media-body recipe-body">
@if(isVideoRecipe){
	<i class="fa fa-video-camera"></i>
} 
@body
</div>
