@(id: Long, image: String, youTubeVideo: String, flashVideo:String, className:String)

@import org.springframework.util.StringUtils;

@hasImage=@{!StringUtils.isEmpty (image)}

@isYouTubeRecipe=@{!StringUtils.isEmpty (youTubeVideo)}
@isFlashRecipe=@{!StringUtils.isEmpty (flashVideo)}
@isVideoRecipe=@{isYouTubeRecipe|isFlashRecipe}

@if(hasImage){
	<a id="recipe-image-container" class="@className" href="#" itemId="@id">
		<img class="img-responsive" src="@routes.Assets.at(image)"
		style="width: 200px">
	</a>
}else{
<div>
	<i class="fa fa-picture-o fa-5x @className"></i>
</div>
}

@if(isVideoRecipe){
<div>
	<i class="fa fa-video-camera"></i>
</div>
} 
