@()

<div class="modal fade" id="recipe-info-modal" role="dialog">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h3><div id="recipe-title"></div></h3>
   				</div>
   				<div class="modal-body">
	   				<div id="media-markup"></div>
	   				<div id="source"></div>
   				</div>
   				<div class="modal-footer">
           			<a class="btn btn-primary" data-dismiss="modal">close</a>
       			</div>
    		</div>
  		</div>
  	</div>